@import url("./modules/layout.css");
@import url("./modules/header.css");
@import url("./modules/hero.css");
@import url("./modules/testimonial.css");
@import url("./modules/service.css");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "PP Agrandir", sans-serif;
  color: #000;
  background-color: #FFFAF3; /* Light background outside the wrapper */
}

a {
  text-decoration: none;
  color: inherit;
}


